body {
    background-color:rgb(27, 38, 59);
    color: white;
    margin: 0;
    padding: 0;
}

p, h3, ul, li {
    font-family: "Itim", cursive;
    font-style: normal;
}

h1, h2 {
    font-family: "Funnel Sans", sans-serif;
    font-style: normal;
}

.header-container {
    background-color: rgb(13, 27, 42);
    color: white;
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    font-size: 20px;
    align-items: center;
    margin: 25px;
}

.header-links {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 30px;
}

.home-page-button {
    background-color: rgb(65, 90, 119);
    border: 2px solid rgb(119, 141, 169);
    border-radius: 5px;
    color: white;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 5px 5px rgba(39, 80, 168, 0.5);
    font-family: "Funnel Sans", sans-serif;
}

.home-page-button:hover {
    background-color: rgb(119, 141, 169);
    border: 2px solid rgb(65, 90, 119);
    transform: scale(1.1);
    box-shadow: 0px 5px 5px rgba(110, 149, 235, 0.5);
}

/*Note: I did use some AI to help me with the dropdown menu, but I customised it myself.*/
.dropdown-button {
    background-color: rgb(65, 90, 119);
    border: 2px solid rgb(119, 141, 169);
    border-radius: 5px;
    color: white;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    width: 150px;
    box-shadow: 0px 5px 5px rgba(39, 80, 168, 0.5);
    font-family: "Funnel Sans", sans-serif;
}

.header-dropdown {
    position: relative;
    display: inline-block; 
}

.dropdown-links {
    display: none;
    position: absolute; 
    background-color: rgb(65, 90, 119);
    width: 150px;
    border-radius: 10px;
    border: 2px solid rgb(119, 141, 169);
    z-index: 1; 
}

.dropdown-links a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
    font-family: "Funnel Sans", sans-serif;
}

.dropdown-links a:hover {
    background-color: rgb(119, 141, 169);
    border: 2px solid rgb(65, 90, 119);
    border-radius: 10px;
}

.header-dropdown:hover .dropdown-links {
    display: block;
}

.header-dropdown:hover .dropdown-button {
    background-color: rgb(119, 141, 169);
    border: 2px solid rgb(65, 90, 119);
    transform: scale(1.1);
}

.dropdown-button:hover {
    box-shadow: 0px 5px 5px rgba(110, 149, 235, 0.5);
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(code2.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    background-attachment: fixed;
}

.intro h1 {
    font-size: 60px;
}

.intro h3 {
    font-size: 25px;
}

.portfolio-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.card-link {
    text-decoration: none;
}

.project1-card-container, .project2-card-container, .project3-card-container, .project4-card-container, .project5-card-container, .project6-card-container {
    display: flex;
    background-color: rgb(119, 141, 169);
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 500px;
    height: 300px;
    margin: 20px;
    border-radius: 30px;
    padding: 10px;
}

.project1-card-container:hover, .project2-card-container:hover, .project3-card-container:hover, .project4-card-container:hover, .project5-card-container:hover, .project6-card-container:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(110, 149, 235, 0.5);
}

.project1-top, .project2-top, .project3-top, .project4-top, .project5-top, .project6-top {
    border-radius: 22px 22px 0px 0px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(code2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.project1-bottom, .project2-bottom, .project3-bottom, .project4-bottom, .project5-bottom, .project6-bottom {
    border-radius: 0px 0px 22px 22px;
    display: flex;
    background-color: rgb(65, 90, 119);
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 225px;
}

.footer-container {
    background-color: rgb(13, 27, 42);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: "Funnel Sans", sans-serif;
}

.footer-links img { 
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: rebeccapurple;
}

.footer-links img:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 5px rgba(110, 149, 235, 0.5);      
}

.p1-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
}

.p1-card1-container, .p1-card2-container, .p1-card3-container, .p1-card4-container {
    display: flex;
    background-color: rgb(119, 141, 169);
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 850px;
    height: auto;
    margin: 20px;
    border-radius: 30px;
    padding: 10px;
}

.p1-card1-top, .p1-card2-top, .p1-card3-top, .p1-card4-top {
    border-radius: 22px 22px 0px 0px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(code2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 24px;
}

.p1-card1-bottom, .p1-card2-bottom, .p1-card3-bottom, .p1-card4-bottom {
    border-radius: 0px 0px 22px 22px;
    display: flex;
    background-color: rgb(65, 90, 119);
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
    font-size: 20px;
}

.code-imagep1-html, .code-imagep1-css {
    width: 800px;
    margin: 10px;
    height: 100%;
    border-radius: 20px;
}

.p1-card1-container:hover, .p1-card2-container:hover, .p1-card3-container:hover, .p1-card4-container:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(110, 149, 235, 0.5);
}

.p1-card1-bottom h3, .p1-card2-bottom h3 {
    font-size: 25px;
}